body {
    background-image: url("https://www.psdgraphics.com/file/crumpled-paper-texture.jpg");
}

section {
    background-color: white;
    margin: 150px ;
}

form {
    padding: 100px;
}
h1 {
    font-family: sans-serif;
}
h1:after
{
    content:' ';
    display:block;
    margin-top: 10px;
    border:2px solid #ebebeb;
}
.form-group {
    padding: 20px;
}

@media screen and (max-width: 992px) {
    section {
        margin: 75px ;
    }
    form {
        padding: 75px;
    }
}

@media screen and (max-width: 768px) {
    section {
        margin: 50px ;
    }
    form {
        padding: 50px;
    }
}

@media screen and (max-width: 400px) {
    section {
        margin: 25px ;
    }
    form {
        padding: 25px;
    }
}