body {
    background-image: url("https://www.psdgraphics.com/file/crumpled-paper-texture.jpg");
}

.media {
    display: inline-block;
    margin: 20px;
}

section {
    padding: 100px;
    margin: 100px;
    background-color: white;
    margin-right: 400px;
}

h1 {
    font-family: sans-serif;
}

section.media {
    float: left;
}

@media screen and (max-width: 992px) {
    section {
        padding: 100px;
        margin: 100px;
        background-color: white;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 75px;
        margin: 75px;
}
img {
    height: 75%;
    width: 75%;
}
}

@media screen and (max-width: 400px) {
   section { 
       padding: 50px;
        margin: 50px;
   }
img {
    height: 50%;
    width: 50%;
}
}